IndentWidth: 4
Language: Java
MaxEmptyLinesToKeep: 1
ReflowComments: Never
AlignEscapedNewlines: DontAlign
AllowShortFunctionsOnASingleLine: None
IndentPPDirectives: AfterHash
ColumnLimit: 90
IndentCaseLabels: true
