IndentWidth: 4
Language: Java
MaxEmptyLinesToKeep: 1
ReflowComments: Never
AlignEscapedNewlines: DontAlign
AllowShortFunctionsOnASingleLine: None
BreakBeforeCloseBracketFunction: true
BreakAfterOpenBracketFunction: true
AlignAfterOpenBracket: false
ColumnLimit: 90
IndentCaseLabels: true
